@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:light');



body {
  background-color: #f4f4f4;
  font-family: Roboto Mono;
  line-height: 1.4em;

}

h1 {
  color: red;
  font-size: 30px;
}

h2 {
  color: green;
  font-size: 26px;
}


h3 {
  color: blue;
  font-size: 22px;
}


h4 {
  color: orange;
  font-size: 18px;
}

p {
  
  font-size: 16px;
}